<%-include('./templates/cabecera.ejs', {tituloWeb: 'Pagina de Inicio'}) %>

    <h1 class="ms-2 text-primary text-center">Hola!</h1>
    <p class="ms-4 text-center">En esta página vamos a ver un ejemplo sencillo de un CRUD realizado con Node.js y MongoDB.</p>
    <p class="ms-4 text-center">Podés visualizarlo en la sección <a href="/mascotas"> mascotas.</a></p>

 </body>

  <%-include('./templates/footer.ejs') %>

</html>